{{define "basic"}}<!DOCTYPE html>
<head><title>{{block "title" .}}{{end}}</title></head>
<body>{{block "content" .}}default content{{end}}</body>
</html>{{end}}

{{define "header"}}<header></header>{{end}}
