{{define "content"}}{{if identity}}logged in as {{index identity.Claims.username 0}}{{else}}<form action="/login" enctype="application/x-www-form-urlencoded" method="POST">
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <input type="text" name="redirect_uri" value="/"/>
    <input type="submit"/>
</form>{{end}}{{end}}